<style>
h2, h3 {
  color:rgb(195, 0, 0);
  text-align: center;
}

  div {
    background-image: url(https://media3.giphy.com/media/SOkmY25BRffu8/giphy.gif);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 170px
  }

  h1, h2, h3 {
    text-align: center;
  }


<br>
</style>
<br>
<h1>Fuuuuuuck, <%= @game.player_one.name %> has been hit! </h1>
<br>
<div>
</div>
<br>
<h2> <%= @game.player_one.name %>: <%= @game.player_one.health %> HP </h2>
<br>
<h3> <a href="/play">Next Move</a> </h3>
